.year-card {
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

.year-card {
    position: relative;
    display: flex;
    z-index: 2;
    margin:20px 2px 20px;
    max-width: 100%;
    color:white;
    flex-basis: 100%;
    justify-content:center;
}